h1{
    /* property value */
    background-color: orangered
    
}

h1{
    text-align:center
}
h2{
    text-align: center
}
h4{
    text-align: center
}
p{
    color: maroon
}
p{
    font-family: 'Times New Roman', Times, serif
}
h4{
    color: chocolate
}
div{
    margin: 2%
}
table{
    margin-left: auto;
    margin-right: auto;
}
    